/* css styles */
.navbar {
  position: sticky !important;
  top: 0;
  z-index: 9999;
}

body {
  background-color: #cfd6dd;
}

h1,h2, h3 {
  color: #2c3e50;
  border-bottom: 2px solid #9aa3ad;
  padding-bottom: 6px;
}

.quarto-title h1 {
  border-bottom: none !important;
}